<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

</head>
<body ng-app="myApp" ng-cloak ng-controller="myCtrl as ctrl">



<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>



<div layout="row" ng-init="ctrl.init()">

    <form layout="column" style="width: 300px;" ng-submit="ctrl.encryptData()" layout-margin>
        <h1>  Encrypt-R-us </h1>
        <md-input-container>
            <label>Name</label>
            <input minlength="2" ng-model="ctrl.name" required>
        </md-input-container>
        <md-input-container>
            <label>title</label>
            <input minlength="2" ng-model="ctrl.email" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Text To Encrypt</label>
            <textarea ng-model="ctrl.text" md-maxlength="3000" rows="6" md-select-on-focus required></textarea>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input minlength="2" ng-model="ctrl.password" required>
        </md-input-container>
        <md-button type="submit" class="md-primary btn btn-primary">Start Encryption</md-button>
    </form>
    <md-list ng-cloak layout-margin style="width: 350px;">
        <md-subheader class="md-no-sticky">Encrypte Messages</md-subheader>
        <md-list-item ng-repeat="message in ctrl.allItems" class="md-3-line" ng-click="ctrl.setCurrentItem(message)" style="height: 100px;">
            <div class="md-list-item-text" layout="column">
                <h4>{{ message.email }}</h4>
                <md-button class="md-secondary" ng-click="doSecondaryAction($event, message)">More Info</md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>

    <form layout="column" style="width: 300px;" ng-submit="ctrl.decryptData($event)" layout-margin>
        <h1>  Decrypt-R-us </h1>
        <p> {{ ctrl.currentItem.name }}</p>
        <md-input-container>
            <label>Name</label>
            <input minlength="2" ng-model="ctrl.Decusername" required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input minlength="2" ng-model="ctrl.Decpassword" required>
        </md-input-container>
        <md-button type="submit" class="md-primary btn btn-primary">Start Decryption</md-button>
    </form>
</div>


<script type='text/javascript' src="lib/aes.js"></script>
<script type='text/javascript' src="lib/mdo-angular-cryptography.js"></script>

<script src="controller2.js"></script>

</body>
</html>